# Getting Started

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
print("Hello")

Hello

In [6]:
# read csv into pandas dataframe
df = pd.read_csv("/Users/brisaniashley/Documents/School/AI4ALL Fall '24/AI4All_F24_Class16/big_startup_secsees_dataset.csv")

In [7]:
# get dimensions of df
df.shape

(66368, 14)

In [8]:
# get some sample records
df.head()

,permalink,name,homepage_url,category_list,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,first_funding_at,last_funding_at
0,/organization/-fame,#fame,http://livfame.com,Media,10000000,operating,IND,16,Mumbai,Mumbai,1,NaN,2015-01-05,2015-01-05
1,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,700000,operating,USA,DE,DE - Other,Delaware City,2,2014-09-04,2014-03-01,2014-10-14
2,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,3406878,operating,NaN,NaN,NaN,NaN,1,NaN,2014-01-30,2014-01-30
3,/organization/0-6-com,0-6.com,http://www.0-6.com,Curated Web,2000000,operating,CHN,22,Beijing,Beijing,1,2007-01-01,2008-03-19,2008-03-19
4,/organization/004-technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,-,operating,USA,IL,"Springfield, Illinois",Champaign,1,2010-01-01,2014-07-24,2014-07-24

In [32]:
df.sort_values(by=['founded_at'], ascending=True)

,permalink,name,homepage_url,category_list,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,first_funding_at,last_funding_at,avg_funding_per_round
4776,/organization/atipica,Atipica,http://www.atipica.co,NaN,25000.0,closed,NaN,NaN,NaN,NaN,1,1015-01-30,2015-11-11,2015-11-11,25000.0
59382,/organization/trinity-college-dublin,"Trinity College, Dublin",http://www.tcd.ie/,Colleges|Education|Public Relations,103198894.0,operating,NaN,NaN,NaN,NaN,1,1592-01-01,2014-01-20,2014-01-20,103198894.0
24841,/organization/harvard-university,Harvard University,http://harvard.edu,Colleges|Education|Universities,90000000.0,operating,USA,MA,Boston,Cambridge,1,1636-09-08,2014-01-06,2014-01-06,90000000.0
49957,/organization/scottish-newcastle-plc,Scottish & Newcastle PLC,NaN,Brewing,4200000.0,operating,GBR,U8,Edinburgh,Edinburgh,1,1749-01-01,2003-10-10,2003-10-10,4200000.0
49105,/organization/rutgers-university,Rutgers University,http://www.rutgers.edu,Education,1950000.0,operating,USA,NJ,Newark,New Brunswick,1,1766-01-01,2015-03-25,2015-03-25,1950000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66351,/organization/zynergy-projects-services,Zynergy Projects & Services,http://www.zynergygroup.net/,Clean Technology,NaN,operating,IND,25,Chennai,Chennai,1,NaN,2015-08-19,2015-08-19,NaN
66359,/organization/zyrra,Zyrra,http://www.zyrra.com,E-Commerce,1510500.0,operating,USA,MA,Boston,Cambridge,4,NaN,2010-10-21,2012-10-18,377625.0
66360,/organization/zystor,Zystor,http://www.zystor.com,Biotechnology,8500000.0,acquired,USA,WI,Milwaukee,Milwaukee,1,NaN,2004-12-16,2004-12-16,8500000.0
66363,/organization/zznode-science-and-technology-co...,ZZNode Science and Technology,http://www.zznode.com,Enterprise Software,1587301.0,operating,CHN,22,Beijing,Beijing,1,NaN,2012-04-01,2012-04-01,1587301.0
66367,/organization/İnovatiff-reklam-ve-tanıtım-hizm...,İnovatiff Reklam ve Tanıtım Hizmetleri Tic,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,14851.0,operating,NaN,NaN,NaN,NaN,1,NaN,2013-10-01,2013-10-01,14851.0

In [31]:
df.sort_values(by=['first_funding_at'], ascending=True)

,permalink,name,homepage_url,category_list,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,first_funding_at,last_funding_at,avg_funding_per_round
37176,/organization/mousera,Mousera,http://www.mousera.com,Biotechnology,29940004.0,operating,USA,CA,SF Bay Area,San Mateo,3,2013-01-01,1014-03-01,2015-06-09,9.980001e+06
22208,/organization/gamewheel,Gamewheel,http://gamewheel.co,Brand Marketing|Game|Mobile Advertising|Social...,NaN,operating,DEU,16,Berlin,Berlin,2,NaN,1201-11-23,2014-12-03,NaN
7409,/organization/blaze-bioscience,Blaze Bioscience,http://www.blazebioscience.com,Biotechnology|Health Care|Health Care Informat...,32936998.0,operating,USA,WA,Seattle,Seattle,5,2010-01-01,1532-06-26,2013-12-03,6.587400e+06
61699,/organization/veveo,Veveo,http://www.veveo.net,Mobile|Video Streaming,28000000.0,acquired,USA,MA,Boston,Andover,3,NaN,1960-01-01,2007-05-01,9.333333e+06
28378,/organization/intercomp,Intercomp,NaN,NaN,549000.0,closed,NaN,NaN,NaN,NaN,1,1968-01-01,1971-01-01,1971-01-01,5.490000e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47183,/organization/realmassive,RealMassive,http://www.realmassive.com,Commercial Real Estate|Marketing Automation|Ma...,8000000.0,operating,USA,TX,Austin,Austin,2,2013-02-11,NaN,2015-05-14,4.000000e+06
50717,/organization/sequent,Sequent,http://www.sequent.com,Software,12000000.0,operating,USA,CA,SF Bay Area,Mountain View,3,2010-01-01,NaN,2013-07-08,4.000000e+06
52711,/organization/snapp-2,Snapp Builder,http://www.snapp.cc/,Application Platforms|Development Platforms|Mo...,400000.0,operating,USA,NY,New York City,New York,3,NaN,NaN,2015-09-01,1.333333e+05
53371,/organization/sontra,Sontra,http://www.sontra.com.br,Customer Service|Logistics|Transportation,4349586.0,operating,BRA,2,Sao Paulo,São Paulo,5,2013-01-01,NaN,2015-01-23,8.699172e+05
58592,/organization/topicmarks,Topicmarks,http://topicmarks.com,Curated Web|Education|Knowledge Management|Nat...,150000.0,acquired,USA,CA,SF Bay Area,San Francisco,2,2009-01-01,NaN,2011-03-18,7.500000e+04

In [11]:
# get unique value of funding_rounds  
df['funding_rounds'].unique()

array([ 1,  2,  4,  3,  9,  5,  6,  7,  8, 10, 11, 12, 15, 13, 14, 17, 18,
       16, 19])

In [12]:
# get data types of columns
df.dtypes

permalink            object
name                 object
homepage_url         object
category_list        object
funding_total_usd    object
status               object
country_code         object
state_code           object
region               object
city                 object
funding_rounds        int64
founded_at           object
first_funding_at     object
last_funding_at      object
dtype: object

In [25]:
df['founded_at'] = pd.to_datetime(df['founded_at']) #bad date
df['first_funding_at'] = pd.to_datetime(df['first_funding_at']) #bad date

df['last_funding_at'] = pd.to_datetime(df['last_funding_at']) #successful

In [28]:
df.dtypes

permalink                        object
name                             object
homepage_url                     object
category_list                    object
funding_total_usd               float64
status                           object
country_code                     object
state_code                       object
region                           object
city                             object
funding_rounds                    int64
founded_at                       object
first_funding_at                 object
last_funding_at          datetime64[ns]
avg_funding_per_round           float64
dtype: object

In [26]:
# find distribution of fundtin_total_usd column
df['funding_total_usd'].describe()

count    5.358300e+04
mean     1.847860e+07
std      1.880133e+08
min      1.000000e+00
25%      3.356235e+05
50%      2.000000e+06
75%      1.000000e+07
max      3.007950e+10
Name: funding_total_usd, dtype: float64

In [14]:
df_by_countries = pd.DataFrame(df.groupby('country_code').size())
df_by_countries

                0
country_code
ALB             2
ARE            94
ARG           186
ARM             3
AUS           503
...           ...
VEN            14
VNM            41
ZAF            92
ZMB             2
ZWE             3

[137 rows x 1 columns]

In [15]:
df_by_countries.loc['USA']

0    37601
Name: USA, dtype: int64

# TO DO: 

- look into possible bias due to overrepresented data (in USA, for example)
- Delete: 37176	/organization/mousera	Mousera
- Delete: 22208	/organization/gamewheel	Gamewheel	http://gamewheel.co
- Delete: harvard & trinity college (dublin)
- Update: 7409	/organization/blaze-bioscience	Blaze Bioscience	http://www.blazebioscience.com, first round 2013-06-26 last round 2019-02-01, 6 funding rounds
- Updated: 4776	/organization/atipica	Atipica	http://www.atipica.co, founded_at 2015-01-30

# Data Cleaning

Missing values, either:
- drop rows
- drop columns
- fill in missing values with an appropriate value

In [16]:
# check columns for missing values in percentage
df.isnull().mean() * 100
# closest to zero is best, means 100% of data is filled.

permalink             0.000000
name                  0.001507
homepage_url          7.621143
category_list         4.743250
funding_total_usd     0.000000
status                0.000000
country_code         10.483968
state_code           12.878194
region               12.099204
city                 12.096191
funding_rounds        0.000000
founded_at           22.934245
first_funding_at      0.036162
last_funding_at       0.000000
dtype: float64

Columns with Missing Data In Order of Concern:

1. founded_at: 22.934245%
2. state_code: 12.878194%
3. region: 12.099204%
4. city: 12.096191%
5. country_code: 10.483968%
6. homepage_url: 7.621143%
7. category_list: 4.743250%
8. first_funding_at: 0.036162%
9. name: 0.001507%

In [17]:
# change data type of funding_total_usd to numerical
df['funding_total_usd'] = pd.to_numeric(df['funding_total_usd'], errors='coerce')
df.head()

,permalink,name,homepage_url,category_list,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,first_funding_at,last_funding_at
0,/organization/-fame,#fame,http://livfame.com,Media,10000000.0,operating,IND,16,Mumbai,Mumbai,1,NaN,2015-01-05,2015-01-05
1,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,700000.0,operating,USA,DE,DE - Other,Delaware City,2,2014-09-04,2014-03-01,2014-10-14
2,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,3406878.0,operating,NaN,NaN,NaN,NaN,1,NaN,2014-01-30,2014-01-30
3,/organization/0-6-com,0-6.com,http://www.0-6.com,Curated Web,2000000.0,operating,CHN,22,Beijing,Beijing,1,2007-01-01,2008-03-19,2008-03-19
4,/organization/004-technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,NaN,operating,USA,IL,"Springfield, Illinois",Champaign,1,2010-01-01,2014-07-24,2014-07-24

In [22]:
df.dtypes

permalink                 object
name                      object
homepage_url              object
category_list             object
funding_total_usd        float64
status                    object
country_code              object
state_code                object
region                    object
city                      object
funding_rounds             int64
founded_at                object
first_funding_at          object
last_funding_at           object
avg_funding_per_round    float64
dtype: object

# Feature Engineering

In [19]:
# calculate new column to find average funding per funding round
df['avg_funding_per_round'] = df['funding_total_usd'] / df['funding_rounds']
df.head()

,permalink,name,homepage_url,category_list,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,first_funding_at,last_funding_at,avg_funding_per_round
0,/organization/-fame,#fame,http://livfame.com,Media,10000000.0,operating,IND,16,Mumbai,Mumbai,1,NaN,2015-01-05,2015-01-05,10000000.0
1,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,700000.0,operating,USA,DE,DE - Other,Delaware City,2,2014-09-04,2014-03-01,2014-10-14,350000.0
2,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,3406878.0,operating,NaN,NaN,NaN,NaN,1,NaN,2014-01-30,2014-01-30,3406878.0
3,/organization/0-6-com,0-6.com,http://www.0-6.com,Curated Web,2000000.0,operating,CHN,22,Beijing,Beijing,1,2007-01-01,2008-03-19,2008-03-19,2000000.0
4,/organization/004-technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,NaN,operating,USA,IL,"Springfield, Illinois",Champaign,1,2010-01-01,2014-07-24,2014-07-24,NaN

In [20]:
df.head()

,permalink,name,homepage_url,category_list,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,first_funding_at,last_funding_at,avg_funding_per_round
0,/organization/-fame,#fame,http://livfame.com,Media,10000000.0,operating,IND,16,Mumbai,Mumbai,1,NaN,2015-01-05,2015-01-05,10000000.0
1,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,700000.0,operating,USA,DE,DE - Other,Delaware City,2,2014-09-04,2014-03-01,2014-10-14,350000.0
2,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,3406878.0,operating,NaN,NaN,NaN,NaN,1,NaN,2014-01-30,2014-01-30,3406878.0
3,/organization/0-6-com,0-6.com,http://www.0-6.com,Curated Web,2000000.0,operating,CHN,22,Beijing,Beijing,1,2007-01-01,2008-03-19,2008-03-19,2000000.0
4,/organization/004-technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,NaN,operating,USA,IL,"Springfield, Illinois",Champaign,1,2010-01-01,2014-07-24,2014-07-24,NaN

In [21]:
df.region.unique()

array(['Mumbai', 'DE - Other', nan, ..., 'Gardanne', 'Cancun', 'Muenchen'],
      dtype=object)